@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4f4f4;
}

#container {
    max-width: 50rem /*equivale a 800px*/;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.25rem /*equivale a 20px*/;
    border-radius: 0.5rem /*equivale a 8px*/;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 1.25rem; /*equivale a 20px*/
}

h2 {
    margin-bottom: 1.25rem; /*equivale a 20px*/
}

.form-container {
    border: 1px solid #ccc;
    padding: 1.25rem; /*equivale a 20px*/
    margin-bottom: 1.25rem; /*equivale a 20px*/
    border-radius: 6px;
    background-color: #f9f9f9;
}

.form-container label {
    display: block;
    margin-bottom: 0.31rem; /*equivale a 5px*/
}

.form-container input[type="text"] {
    width: 100%;
    padding: 0.62rem; /*equivale a 10px*/
    margin-bottom: 0.62rem; /*equivale a 10px*/
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    background-color: #fd1b1b;
    color: #fff;
    padding: 0.62rem 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e60e0e;
    color: #fff;
    transform: scale(1.05);
} 

